@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "NanumSquare", "SSantokki", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .font-ssan-tokki {
    font-family: var(--font-ssan-tokki), sans-serif;
  }
}

@layer components {
  .nanum-bold-20 {
    @apply text-xl font-bold;
  }
  .nanum-bold-18 {
    @apply text-lg font-bold;
  }
  .nanum-bold-16 {
    @apply text-base font-bold;
  }
  .nanum-extraB-16 {
    @apply text-base font-extrabold;
  }
  .nanum-regular-16 {
    @apply text-base font-normal;
  }
}
